@page "/"
<h1>@Title</h1> 

Welcome to your unit calculator!

We can convert between these units. Please type them exactly as listed:

<ul>
    <li>ft</li>
    <li>in</li>
    <li>mile</li>
    <li>cm</li>
    <li>m</li>
    <li>km</li>
</ul>

Enter unit <input type="number" @bind="oldValue"/> <input type="text" @bind="oldUnit"/>

@code
{
    string Title = "Unit Calculator";

    decimal oldValue { get; set; }

    string oldUnit { get; set; }
}